@model Bm10RBS.ViewModels.Main.ForecastTomorrowModel
@{
    ViewBag.Title = "ForecastTomorrow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12 containerkembit">
                <h3 style="color:#3897f0"><strong>Weersvoorspelling voor morgen</strong></h3>
                <hr style="border-top: 1px solid #d1d1d1" />
            </div>
        </div>
    </div>
    

    <div class="col-md-12" style="margin-bottom:20px;">
        <div class="col-md-4">
            <div class="col-md-12 containerkembit" style="height: 200px;">
                <h4 style="color:#3897f0">Temperatuur</h4>
                <hr style="border-top: 1px solid #d1d1d1" />
                <h4>De temperatuur wordt morgen: @Model.Temperature °C.</h4>

            </div>
        </div>
            
        <div class="col-md-4">
            <div class="col-md-12 containerkembit" style="height: 200px;">
                <h4 style="color:#3897f0">Regen</h4>
                <hr style="border-top: 1px solid #d1d1d1" />
                @if (Model.Rain > 0)
            { <h4>Het gaat morgen regenen, er zal morgen ongeveer @Model.Rain mm regen vallen.</h4>}
                @if (Model.Rain <= 0)
            {  <h4>Het gaat morgen niet regenen!</h4>}

            </div>
        </div>
        
        <div class="col-md-4">
            <div class="col-md-12 containerkembit" style="height: 200px;">
                <h4 style="color:#3897f0">Wind</h4>
                <hr style="border-top: 1px solid #d1d1d1" />
                <h4>Het gaat morgen @Model.Wind m/s waaien.</h4>
            </div>
        </div>
        
       
    </div>

</div>
