@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12 row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12 containerkembit">
                <h1 style="color:#3897f0"><strong>Data Science Course Case</strong></h1>
                <p>Ons is gevraagd om voor RTL group een model te maken. Al sinds het begin, is het weer onvoorspelbaar. Wat een mooie dag zou worden, is geëindigd in een stortbui. Dit model moet de temperatuur, regen en windsnelheid voorspellen.</p>
                <hr style="border-top: 1px solid #d1d1d1" />

            </div>
        </div>
    </div>


    <div class="col-md-12" style="margin-bottom:20px;">
        <div class="col-md-4">
            <div class="col-md-12 containerkembit" style="height: 200px; height:250px;">
                <h3 style="color:#3897f0">Temperatuur</h3>
                <hr style="border-top: 1px solid #d1d1d1" />
                <p>Voor de temperatuur was de gemiddelde afwijking van het model 1,8 graden. Dit model is dus goed geslaagd. Het zal moeilijk zijn voor andere technieken om hier een beter resultaat te behalen.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-12 containerkembit" style="height: 200px; height:250px;">
                <h3 style="color:#3897f0">Regen</h3>
                <hr style="border-top: 1px solid #d1d1d1" />
                <p>Het regen model was hierin minder goed, de gemiddelde afwijking was 30 mm. Dit is aan de hoge kant. Het is mogelijk dat andere technieken hier een betere uitkomst hebben.
Echter zijn er in het dataset wel extreme aanwezig. Dit heeft natuurlijk negatieve invloed op de gemiddelde afwijking.
</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-12 containerkembit" style="height: 200px; height:250px;">
                <h3 style="color:#3897f0">Wind</h3>
                <hr style="border-top: 1px solid #d1d1d1" />
                <p>De windsnelheid hierin tegen is een goed model. De gemiddelde afwijking hier was 1,7 m/s. Deze afwijking is aanvaardbaar. Andere technieken zullen het moeilijk hebben om dit resultaat te verbeteren.</p>
            </div>
        </div>
    </div>

</div>
